body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  transition:0.3s;
}

.hero {
  text-align: center;
  margin-top: 100px;
  padding: 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  font-size: 20px;
  color: #555;
}

.hero button {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
}
.logo{
  color:#2563eb;
}
.nav-links li:hover{
    color:#2563eb;
}
.login-btn{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 22px;
  border-radius: 8px;
  cursor: pointer;
  transition:0.3s;

}
.login-btn:hover{
background-color: #1d4ed8;
}
.why-us{
    padding:80px 60px;
    text-align:center;
}
.cards{

    display:flex;

    justify-content:center;

    gap:30px;

    margin-top:40px;
}
.card{

    background:white;

    padding:25px;

    width:300px;

    border-radius:10px;

    border:1px solid #ddd;

    transition:0.3s;
}
.card:hover{

    box-shadow:0 10px 30px rgba(0,0,0,0.3);

  transform: scale(1.05);

}